.game-module-percent-game,
.game-module-percent-game-modal {
  --game-module-gap: 8px;
  --coin-color: #fcd975;

  .section-border {
    border: 3px solid var(--color-black);
    &.is-disabled {
      opacity: 0.5;
    }
  }
  .section-padding {
    padding: var(--body-gap);
  }
  .section-rounded {
    border-radius: 8px;
    padding: 10px;
  }
  .is-meta-on,
  .is-selling {
    .game-prize-item {
      &:hover {
        border-color: var(--color-gradient-gold-to);
      }
    }
  }
}

.game-module-percent-game {
  height: calc(100vh - 2 * var(--body-gap));

  .game-module-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background: var(--color-primary);
    border-radius: 8px;
    padding: var(--game-module-gap);
    min-height: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  .game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-black);
    margin: 0 calc(-1 * var(--game-module-gap));
    padding: 0 var(--game-module-gap);
    margin-bottom: var(--game-module-gap);
    padding-bottom: var(--game-module-gap);
  }
  .section-border {
    & + .section-border {
      margin-top: -3px;
    }
  }
}
