[class*='btn-'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btn-wide {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  min-width: 180px;
}

.btn-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  color: var(--color-white);
  &:hover {
    color: var(--color-white);
  }
  &.size--medium {
    height: 40px;
  }
  &:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

.btn-item-action {
  background: linear-gradient(
    to right,
    rgb(205, 133, 0),
    var(--color-secondary)
  );
}

.btn-item-meta {
  background: linear-gradient(
    to right,
    var(--color-gradient-1-start),
    var(--color-gradient-1-end)
  );
}

.btn-linear,
.btn-linear-primary {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: var(--color-primary);
    border-width: 2.5px;
  }
}

.btn-outline,
.btn-outline-primary {
  color: var(--color-primary);
  background: transparent;
  border: 2px solid var(--color-primary);
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: var(--color-primary);
    background: transparent;
  }
}
