@import 'variables.scss';
@import 'reset.scss';
@import 'animate.scss';
@import 'buttons.scss';
@import 'modal.scss';

.text-muted {
  color: #6c757d !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: var(--body-gap);
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
}

.main {
  .play-game-btn {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .back-to-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
  }
  .game-module {
    padding-top: calc(1.5 * var(--body-gap));
    padding-bottom: calc(1.5 * var(--body-gap));
  }
}
