@import 'variables.scss';
@import 'reset.scss';
@import 'buttons.scss';
@import 'modal.scss';

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animate__animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}
.animate__animated.animate__infinite {
  animation-iteration-count: infinite;
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
.animate__animated.animate__faster {
  animation-duration: calc(1s / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}
.animate__animated.animate__fast {
  animation-duration: calc(1s * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}
.animate__animated.animate__slow {
  animation-duration: calc(1s * 2);
  animation-duration: calc(var(--animate-duration) * 2);
}
.animate__animated.animate__slower {
  animation-duration: calc(1s * 3);
  animation-duration: calc(var(--animate-duration) * 3);
}

.main {
  .play-game-btn,
  .back-to-btn {
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    text-transform: uppercase;
  }
  .play-game-btn {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    line-height: 40px;
    min-width: 180px;
    color: var(--color-primary);
    background: linear-gradient(
      to right,
      var(--color-secondary),
      var(--color-primary)
    );
  }
  .back-to-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  .game-module {
    padding-top: 30px;
  }
}
