.ant-modal-confirm-success {
  .ant-modal-confirm-body > .anticon {
    color: var(--color-secondary);
  }
}

.ant-modal-root .ant-modal-centered .ant-modal {
  padding-top: var(--modal-content-gap-y);
  padding-bottom: var(--modal-content-gap-y);
}

.ant-modal {
  .ant-modal-content {
    padding: var(--modal-content-gap-y) var(--modal-content-gap-x);
  }
  &.content-scrollable {
    max-height: 100vh;
    overflow: hidden;
    &.content-scrollable-always-full {
      .ant-modal-content {
        height: calc(100vh - 2 * var(--modal-content-gap-y));
      }
    }
    .ant-modal-content {
      max-height: calc(100vh - 2 * var(--modal-content-gap-y));
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .ant-modal-body {
      flex: 1;
      overflow: hidden auto;
    }
    &.split .ant-modal-body {
      display: flex;
    }
  }
  &.full-screen {
    width: calc(100vw - var(--modal-content-gap-x)) !important;
    .ant-modal-content {
      width: 100%;
    }
  }
}
