.ant-modal-confirm-success {
  .ant-modal-confirm-body > .anticon {
    color: var(--color-secondary);
  }
}

.ant-modal-root .ant-modal-centered .ant-modal {
  padding-top: var(--modal-content-gap-y);
  padding-bottom: var(--modal-content-gap-y);
}

.ant-modal {
  .ant-modal-content {
    padding: var(--modal-content-gap-y) var(--modal-content-gap-x);
  }
  .ant-btn {
    &.ant-btn-primary {
      background-color: var(--color-primary);
      &:disabled {
        cursor: not-allowed;
        border-color: #d9d9d9;
        color: rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.04);
        box-shadow: none;
      }
    }
  }
  &.content-scrollable {
    max-height: 100vh;
    overflow: hidden;
    .ant-modal-content {
      max-height: calc(100vh - 2 * var(--modal-content-gap-y));
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .ant-modal-body {
      flex: 1;
      overflow: hidden auto;
    }
    &.split {
      .ant-modal-body {
        display: flex;
        width: 100%;
        overflow: hidden;
        & > * {
          flex: 0 0 auto;
          width: 50%;
        }
      }
      &.split-left .ant-modal-body {
        & > *:first-child {
          width: 40%;
          overflow: hidden auto;
        }
        & > *:last-child {
          width: 60%;
        }
      }
    }
  }
  &.full-screen {
    width: calc(100vw - var(--modal-content-gap-x)) !important;
    .ant-modal-content {
      width: 100%;
    }
  }
}
