.ant-modal-confirm-success {
  .ant-modal-confirm-body > .anticon {
    color: var(--color-secondary);
  }
}

.ant-modal {
  .ant-modal-content {
    padding: 20px;
  }
  .ant-btn {
    background-color: var(--color-primary);
  }
}


