html {
  --color-primary: #108ee9;
  --color-secondary: #87d068;
  --color-gradient-1-start: #ff4d82;
  --color-gradient-1-end: #722ed1;
  --color-gradient-diamond-from: #87d068;
  --color-gradient-diamond-to: #ff4d82;
  --color-gradient-gold-from: #a67c00;
  --color-gradient-gold-to: #ffbf00;
  --color-gradient-silver-from: #afafaf;
  --color-gradient-silver-to: #c0c2ce;
  --color-gradient-bronze-from: #cd8500;
  --color-gradient-bronze-to: #a0522d;
  --color-black: #000;
  --color-white: #fff;
  // Spacing
  --body-gap: 20px;
}

html {
  font-family: 'DM Sans';
}