.progress-wrapper {
  .ant-progress-outer {
    width: 100% !important;
  }
  &.transition-none {
    .ant-progress-bg {
      transition: none;
      &::before {
        display: none;
      }
    }
  }
}
