.game-header {
  .number-coin,
  .number-ticket,
  .notes {
    color: var(--color-white);
  }
  .number-ticket {
    min-width: 30px;
    max-width: 30px;
    text-align: center;
  }
  .number-coin {
    min-width: 30px;
    max-width: 30px;
    text-align: center;
  }
  .coin-icon {
    fill: var(--coin-color);
  }
  .buy-ticket-icon,
  .ticket-icon {
    fill: var(--color-secondary);
  }
  .buy-ticket-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border-color: transparent !important;
    min-width: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
    &:disabled {
      opacity: 0.5;
    }
  }
}
