.game-header {
  .number-coin,
  .number-ticket,
  .notes {
    color: var(--color-white);
  }
  .number-coin,
  .number-ticket {
    min-width: 30px;
    max-width: 30px;
    text-align: center;
  }
  .coin-icon {
    fill: var(--coin-color);
  }
}
